.base {
  font-family: monospace;
  background-color: #fff;
}

.bg-cv { background-size: cover; }
.bg-cn { background-size: contain; }
@media screen and (min-width: 48em) {
 .bg-cv-ns { background-size: cover; }
 .bg-cn-ns { background-size: contain; }
}
@media screen and (min-width: 48em) and (max-width: 64em) {
 .bg-cv-m { background-size: cover; }
 .bg-cn-m { background-size: contain; }
}
@media screen and (min-width: 64em) {
 .bg-cv-l { background-size: cover; }
 .bg-cn-l { background-size: contain; }
}
